/* styles/WeatherApp.css */
body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
    color: #00796b;
  }
  
  .infoBox {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
  }
  .j{
      margin-left: 25px;
  }
  .SearchBox {
    margin: 20px auto;
    text-align: center;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  